* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.container {
    margin: auto;
    max-width: 1300px;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section__header {
    padding-top: 25px;
}

.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
}

.nav__link {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

.nav__link:hover {
    color: #00b7f4;
}

.section__title {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 24px;
}

.aboutus__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutus__images {
    display: flex;
    flex-direction: column;
}

.aboutus__img {
    max-height: 400px;
    max-width: 400px;
    min-height: 400px;
    min-width: 400px;
}

.aboutus__text__block {
    max-width: 850px;
}

.section__footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #2F4F4F;
}

.footer__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__text {
    color: #ffffff;
}

.footer__line__1 {
    margin-bottom: 15px;
}